// INTRO //

.image-accueil {
	.plop-wrap {
		position: absolute;
		width: 265px;
		height: 375px;
		.leave {
			position: absolute;
			max-width: 245px;
			left: -60px;
			top: 10px;
		}
	}
	.plop-wrap-right {
		position: absolute;
		right: 0;
		left: auto;
		width: 265px;
		overflow: hidden;
		.plop {
			position: relative;
			right: -45px;
			max-width: 250px;
			transform: rotate(60deg);
		}
	}
	.container {
		position: relative;
		.rounded {
			padding-top: 100px;
			padding-bottom: 100px;
			width: 300px;
		}
	}
}

.intro-accueil {
	.container {
		color: $dark;
		.image {
			margin-left: 50px;
			border-radius: 20px;
		}
		.text {
			align-self: center;
			padding-left: 150px;
			h2 {
				font-family: $baby;
			}
		}
		p {
			margin-top: 40px;
		}
		a {
			margin: 30px 0px;
		}
	}
}

.banner-image {
	background-size: cover;
	height: 700px;
	margin: 150px 0;
}

//EVENEMENTS//

.events {
	.container {
		h3{
			margin-bottom: 0px;
		}
		h2 {
			font-family: $baby;
			margin-bottom: 45px;
		}
		.event-img {
			border-radius: 20px;
		}
		.caption {
			padding: 20px 0 50px;
		}
	}
}

// SAVEURS ET PRODUITS //

.cake {
	margin-bottom: 70px;
}

.saveurs {
	.container{
		position: relative;
		p {
			font-family: $barlow;
			color: $second;
			opacity: 0.25;
			font-size: 175px;
			margin-bottom: 0px;
			margin-left: 75px;
		}
		h2 {
			z-index: 100;
			font-family: $baby;
			position: absolute;
			bottom: 60px;
			font-size: 45px;
		}
	}
}

.img-sav {
	.container {
		.grid {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 10px;
			.prod-img {
				border-radius: 20px;
			}
		}
	}
}

.saveurs-btn {
	.container {
		position: relative;
		.btn {
			position: absolute;
			margin: 30px;
			right: -15px;
		}
	}
}

.produits {
	.container{
		position: relative;
		p {
			font-family: $barlow;
			color: $second;
			opacity: 0.25;
			font-size: 175px;
			margin: 150px 0 0 75px;
		}
		h2 {
			z-index: 100;
			font-family: $baby;
			position: absolute;
			bottom: 60px;
			font-size: 45px;
		}
	}
}

.img-prod {
	.container {
		.grid {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 10px;
			.prod-img {
				border-radius: 20px;
			}
		}
	}
}

.produit-btn {
	.container {
		position: relative;
		.btn {
			position: absolute;
			margin: 30px;
			right: -15px;
		}
	}
}

// CONCLUSION //

.cupcake {
	margin-top: 200px;
}

.bonheur {
	.container {
		position: relative;
		.text {
			text-align: center;
			h3 {
				font-width: 400;
			}
			h2 {
				font-family: $baby;
			}
			p {
				margin-top: 25px;
			}
		}
		.btn {
			margin: 40px 0 0 0;
		}
	}
}

@media (max-width: 575px) {
	h1, h2, h3, p {
		word-break: break-word;
	}
}