// INTRO //
.image-accueil {
	.plop-wrap {
		position: absolute;
		width: 265px;
		height: 425px;
		overflow: hidden;
		img {
			position: absolute;
			max-width: 245px;
			left: -60px;
			top: 10px;
			@include max-md {
				max-width: 190px;
			}
			@include max-sm {
				max-width: 170px;
			}
			@include max-xs {
				max-width: 140px;
				transform: rotate(10deg);
				left: -40px;
			}
			@include max-custom(400px) {
				max-width: 120px;
				top: 0;
			}
		}
		&.right {
			right: 0;
			left: auto;
			img {
				position: relative;
				left: 65px;
				max-width: 250px;
				transform: rotate(50deg);
				@include max-md {
					left: 100px;
					max-width: 200px;
				}
				@include max-sm {
					left: 130px;
					max-width: 180px;
				}
				@include max-xs {
					top: 150px;
					left: 150px;
					max-width: 150px;
				}
				@include max-custom(400px) {
					top: 140px;
					left: 180px;
					max-width: 130px;
				}
			}
		}
	}
	.container {
		position: relative;
		.rounded {
			padding-top: 100px;
			padding-bottom: 120px;
			width: 300px;
			@include max-md {
				width: 250px;
			}
			@include max-xs {
				width: 200px;
			}
			@include max-custom(400px) {
				width: 180px;
			}
		}
	}
}


.intro-accueil {
	.container {
		color: $dark;
		@include max-sm {
			text-align: center;
		}
		.row {
			@include min-md {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
			}
		}
		.image {
			border-radius: 20px;
			@include max-sm {
				width: 350px;
				margin-bottom: 30px;
			}
		}
		.text {
			align-self: center;
			padding-left: 100px;
			@include max-lg {
				padding-left: 60px;
			}
			@include max-md {
				padding-left: 40px;
			}
			@include max-sm {
				padding-left: 0;
			}
			h2 {
				font-family: $baby;
			}
		}
		p {
			margin-top: 40px;
		}
		a {
			margin: 30px 0px;
		}
	}
}

.banner-image {
	background-size: cover;
	background-position: center;
	min-height: 400px;
	height: 40vh;
	margin: 150px 0;
	@include max-xs {
		min-height: 300px;
	}
}

//EVENEMENTS//
.events {
	.container {
		h3 {
			margin-bottom: 0px;
		}
		h2 {
			font-family: $baby;
			margin-bottom: 45px;
		}
		.event-img {
			border-radius: 20px;
		}
		.caption {
			padding: 20px 0 50px;
		}
	}
}

// SAVEURS ET PRODUITS //
.cake {
	margin-bottom: 70px;
}

.big-title {
	.container {
		position: relative;
		p {
			font-family: $barlow;
			color: $second;
			opacity: 0.25;
			font-size: 175px;
			margin-bottom: 0px;
			margin-left: 75px;
			@include max-md {
				font-size: 150px;
			}
			@include max-sm {
				font-size: 115px;
				margin-left: 55px;
			}
			@include max-xs {
				font-size: 90px;
				margin-left: 35px;
			}
			@include max-custom(415px) {
				font-size: 70px;
				margin-left: 25px;
			}
		}
		h2 {
			z-index: 100;
			font-family: $baby;
			position: absolute;
			bottom: 60px;
			font-size: 45px;

			@include max-md {
				bottom: 50px;
			}
			@include max-sm {
				font-size: 35px;
				bottom: 40px;
			}
			@include max-xs {
				font-size: 25px;
				bottom: 30px;
			}
			@include max-custom(415px) {
				font-size: 20px;
				bottom: 20px;
			}
		}
	}
}

.homegrid5 {
	.container {
		.grid {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 10px;
			@include max-sm {
				grid-template-columns: repeat(2, 1fr);
			}
			.prod-img {
				border-radius: 20px;
				&:last-child {
					@include max-sm {
						display: none;
					}
				}
			}
		}
	}
}

.saveurs-btn {
	.container {
		position: relative;
		.btn {
			position: absolute;
			margin: 30px;
			right: -15px;
		}
	}
}

.produits {
	.container {
		p {
			margin-top: 150px;
		}
	}
}

.produit-btn {
	.container {
		position: relative;
		.btn {
			position: absolute;
			margin: 30px;
			right: -15px;
		}
	}
}

// CONCLUSION //
.cupcake {
	margin-top: 200px;
}

.bonheur {
	.container {
		position: relative;
		.text {
			text-align: center;
			h3 {
				font-width: 400;
			}
			h2 {
				font-family: $baby;
			}
			p {
				margin-top: 25px;
			}
		}
		.btn {
			margin: 40px 0 0 0;
		}
	}
}
