.intro-saveur {
	.plop-wrap {
		position: absolute;
		width: 265px;
		height: 425px;
		overflow: hidden;
		img {
			position: absolute;
			max-width: 245px;
			left: -60px;
			top: 10px;
			@include max-md {
				max-width: 190px;
			}
			@include max-sm {
				max-width: 170px;
			}
			@include max-xs {
				max-width: 140px;
				transform: rotate(10deg);
				left: -40px;
			}
			@include max-custom(400px) {
				max-width: 120px;
				top: 0;
			}
		}
		&.right {
			right: 0;
			left: auto;
			img {
				position: relative;
				left: 65px;
				max-width: 250px;
				transform: rotate(50deg);
				@include max-md {
					left: 100px;
					max-width: 200px;
				}
				@include max-sm {
					left: 130px;
					max-width: 180px;
				}
				@include max-xs {
					top: 150px;
					left: 150px;
					max-width: 150px;
				}
				@include max-custom(400px) {
					top: 140px;
					left: 180px;
					max-width: 130px;
				}
			}
		}
	}
	.container {
		h2 {
			font-family: $monstera;
			font-weight: 400;
			padding-top: 125px;
			margin-bottom: 0px;
			height: 145px;
		}
		h3 {
			font-family: $baby;
			font-size: 50px;
			margin-bottom: 135px;
		}
	}
}

.cute-title {
	.container {
		position: relative;
		height: 300px;
		@include max-md {
			height: 180px;
		}
	}
	h1 {
		position: absolute;
		font-family: $barlow;
		color: $second;
		font-size: 17vw;
		opacity: .25;
		@include max-md {
			font-size: 175px;
		}
		@include max-sm {
			font-size: 150px;
		}
		&.gat {
			margin-top: 60px;
			left: -40px;
			@include max-md {
				margin-top: 0;
			}
			@include max-sm {
				left: -50px;
			}
		}
		&.glac {
			right: -40px;
			@include max-custom (800px){
				right: -22px;
			}
			@include max-sm {
				right: -50px;
			}
		}
		&.gar {
			left: -40px;
			@include max-sm {
				left: -50px;
			}
		}
	}
}

.sidefullimg {
	position: relative;
	margin-top: 60px;
	.fullimg-wrapper {
		position: absolute;
		right: 0;
		left: auto;
		top: 0;
		bottom: 0;
		width: 40%;
		background-size: cover;
		overflow: hidden;
		border-radius: 30px 0 0 30px;
		@include max-sm {
			width: 40%;
		}
	}
	&.left {
		.fullimg-wrapper {
			border-radius: 0 30px 30px 0;
			right: auto;
			left: 0;
		}
	}
}

.liste-saveurs{
	.container {
		padding-top: 40px;
		padding-bottom: 40px;
		@include max-md {
			padding-bottom: 0;
		}
		ul {
			list-style: none;
			width: 100%;
			li {
				padding: 5px;
				display: inline-block;
				width: 49%;
			}
			li::before {
				content: "•";
				color: $second;
				font-weight: bold;
				display: inline-block;
				width: 16px;
				margin-left: -16px;
			}
		}
	}
}

.gateaux {
	.btn {
		margin-top: 10px;
		margin-left: 16px;
	}
}

.glaçage {
	.container {
		.btn {
			margin-top: 10px;
			margin-left: 16px;
			justify-content: flex-end;
		}
	}
}

.garniture {
	.container {
		.btn {
			margin: 10px 16px; 
		}
	}
}
