.footer {
	margin-top: 250px;
	background-color: $dark;	
	.container {
		position: relative;
		.end {
			color: white;
			font-size: 10px;
		}
	}
}

.img-footer {
	bottom: 160px;
	position: absolute;
	max-width: 400px;
	left: 0;
	right: 0;
	margin: auto;
}